body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: scroll;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
  justify-content: center;
}
.tabs {
  display: flex;
  flex-direction: row;
}
.tabs > div {
  padding : 8px;
  text-align: center;
  cursor: pointer;
}
.tabs > div:hover {
  background-color: #EEE;
}
.tab {
  cursor: pointer;
  border: 1px solid #CCC;
}

.field {
  display: flex;
  width: 375px;
  align-items: center;
  padding: 8px;
  justify-content: center;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.field > input {
  padding: 4px 0;
  flex:1;
  font-size : 16px;
  padding: 8px 8px;
  border: none;
}
.field > div {
  border: none;
}
.frame-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  padding: 8px 8px;
  color: white;
  background-color: #0077FF;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(72, 145, 228);
}
.portal {
  height : 667px;
  width: 375px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  max-height: 100vh;
  overflow-y: scroll;
}

.context {
  overflow-y: scroll;
  padding: 10px;
  overflow-x: hidden;
  width: 375px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.function-demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .5s all ease-out;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #EFEFEF;
}

.function-demo-info {
  flex: 1;
}

.function-demo:hover {
  background-color: #DDD;
}

.function-check {
  transition: .5s all ease-out;
  opacity: 0;
  margin-left: 12px;
  height: 16px;
  width: 16px;
}

.function-list {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.selected {
  color: white;
  background-color: #0077FF!important;
}

.dimension {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}

.dimension > input {
  width: 80px;
}

.dimension > div {
  padding: 4px;
}